body {
	background-color: lightblue;
	font-family: 'Handlee', cursive;
}

.title {
	font-size: 22px;
}

.hidden {
	display: none;
}

.check {
	float: right;
}

td {
	border: 1px solid blue;
	background-color: white;
	margin-right: 5px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

tr {
	font-size: 15px;
}

#addItems {
	background-color: #f98304;
	padding: 10px;
	border-radius: 10%;
	font-weight: bold;
}

#date {
	height: 27px;
	border-radius: 10%;
}

#toDo {
	height: 25px;
	border-radius: 10%;
}